* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    background-image: url(../imgWWF/tigre.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

.logo{
    width: 100%;
}

img{
    width: 100%;
}
.absolute{
    position: absolute;
    z-index: 1000;
    bottom: -60px;
    left: 30px;
}
.bande{
    position: relative;
    
}

.bande::after{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    height: 20px;
    background-color: black;
    width: 100%;

}

.bande::before{
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    height: 20px;
    background-color: black;
    width: 100%;

}

.articleAbsolute{
    height: 150px;
    position: absolute;
    bottom: 0;

}
.wButton{
    width: 40%;
}

button{
    width: 100%;
}
